<<<<<<< HEAD
body {
    background: #E5E5E5;
    
}
.escondido {
    display: none;
}

.tela-2 {
    position: relative;
    top: 0;
    left: 0;
}
.conteiner-quizzes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topo-quiz {
    position: fixed;
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topo-quiz > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;
}
.titulo-quiz-topo {
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://sm.ign.com/ign_br/screenshot/default/naruto-shippuden_zy11.jpg");
    width: 100%;
    height: 227px;
}
.banner-quiz {
    width: 100%;
    height: 227px;
    object-fit: cover;
}
.titulo-quiz {
    
    position: absolute;
    top: 130px;
    left: 500px;
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.conteudo-quiz {
    background-color: #E5E5E5;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px;
}
.titulo-quiz-secundario {
    background-color: #434CA0;
    width: 688px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-quiz-secundario > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.quiz-imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 759px;
    
}
.quiz-imagens > div {
    padding: 20px;
}
.quiz-imagens > div > img {
    object-fit: cover;
    width: 324px;
    height: 174px;
    cursor: pointer;
}
.quiz-imagens > div > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}
.quiz-imagens > p {
    width: 324px;
    height: 174px;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    text-align: center;
    word-break: break-all;
}
.quiz-resultado {
    background: #EC362D;   
}

.parte-final {
    flex-wrap: nowrap;
}
.parte-final > div > img {
    cursor: initial;
}
.reiniciar-quiz, .voltar-home  {
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #FFF5F4;
    cursor: pointer;
        

}
.voltar-home {
    background-color: #E5E5E5;
    color: #818181;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.topo{
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desativado{
    display: none;
}

.container-seus-quizzes-nenhum{
    width: 1090px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D5D5D5;
    margin: 77px 0;
}

.container-seus-quizzes-nenhum> span{
    width: 250px;
    height: 107px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #B9B9B9;
    font-size: 20px;
}

.botao-criar-grande{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#EC362D;
}

.container-seus-quizzes{
    width: 1090px;
    margin-top: 69px;
    margin-bottom: 48px;
}

.container-seus-quizzes > span{
    font-size: 20px;
    font-weight: bold;
}

.seus-quizzes{
    display: flex;
}

.seus-quizzes > .quizz{
    margin-right: 15px;
}

.botao-criar-pequeno{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius:500px;
    justify-content: center;
    align-items: center;
}

.container-todos-quizzes{
    width: 1090px;
    height: 409px;
}

.lista-quizzes{
    display: flex;
    flex-wrap: wrap;
    height: 409px;
    overflow: scroll;
}

.container-todos-quizzes > span{
    font-size: 20px;
    font-weight: bold;
}

.quizz{
    width: 340px;
    height: 181px;
    margin-top: 12px;
    border-radius: 5px;
    position: relative;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 63.54%, #000000 100%);
    margin-right: 15px;
}

.degrade{
    position: absolute;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 63.54%, #000000 100%)
}
.titulo-quizz{
    width: 301px;
    height: 54px;
    position: absolute;
    bottom: 7px;
    margin-left: 18px;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    align-items: center;
}

img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
>>>>>>> 9c06c1d45609fa7de2d8e6c6a59608ec79704872
