body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E5E5;
}
.loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barra-loading {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tela-2 {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.topo-quiz {
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo-quiz > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
    text-align: center;
}
.titulo-quiz-topo {
    margin-top: 69px;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.degrade-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
}
.banner-quiz-unico {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo-quiz-unico {
    position: absolute;
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-all;
    color: #FFFFFF; 
}
.conteudo-quiz {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 760px;
    height: 100%;
    margin: 42px 0px;
}
.conteudo-final {
    height: 430px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 56px;
}
.titulo-quiz-secundario {
    width: 688px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 18px 0px;
}
.titulo-quiz-secundario > p {
    height: 100%;
    width: 650px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    text-align: center;
    color: #FFFFFF;
}
.quiz-imagens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 688px;
    height: 100%;
    padding-bottom: 18px;
}
.quiz-imagens > button {
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6px;
    background-color: #FFFFFF;
    height: 100%;
}
.quiz-imagens > button > img {
    object-fit: cover;
    width: 330px;
    height: 174px;
    cursor: pointer;
}
.quiz-imagens > button > p {
    width: 330px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    word-break: break-all;
    color: #000000;
    height: 100%;
}
.quiz-imagens > p {
    width: 324px;
    height: 174px;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
.opaco {
    opacity: 0.6;
}

.opaco > p {
    color:  red;
}
.resposta-correta {
    color: #009C22 !important;
}
.resposta-errada {
    color:  red !important;
}
.quiz-resultado {
    background: #EC362D;   
}
.parte-final {
    flex-wrap: nowrap;
    margin-bottom: 22px;
    word-break: break-all;
}
.parte-final > p {
    height: 100%;
}
.parte-final > div > img {
    cursor: initial;
    width: 364px;
    height: 273px;
}
.reiniciar-quiz, .voltar-home  {
    width: 260px;
    height: 52px;
    background: #EC362D;
    border-radius: 15px;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF5F4;
    cursor: pointer;
}
.voltar-home {
    background-color: #E5E5E5;
    color: #818181;
    margin-bottom: 86px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.topo {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desativado {
    display: none;
}
.container-seus-quizzes-nenhum {
    width: 1090px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D5D5D5;
    margin: 77px 0;
}

.container-seus-quizzes-nenhum > span {
    width: 250px; 
    height: 107px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #B9B9B9;
    font-size: 20px;
}

.botao-criar-grande{
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#EC362D;
}

.container-seus-quizzes{
    width: 1090px;
    margin-top: 69px;
    margin-bottom: 48px;
}

.cabecalho > span{
    font-size: 20px;
    font-weight: bold;
}

.cabecalho{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seus-quizzes{
    display: flex;
    flex-wrap: wrap;
}

.seus-quizzes > .quizz{
    margin-right: 15px;
}

.botao-criar-pequeno{
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius:500px;
    justify-content: center;
    align-items: center;
}

.container-todos-quizzes{
    width: 1090px;
    height: 409px;
}

.lista-quizzes{
    display: flex;
    flex-wrap: wrap;
    height: 409px;
    overflow: scroll;
}

.container-todos-quizzes > span{
    font-size: 20px;
    font-weight: bold;
}

.quizz{
    width: 340px;
    height: 181px;
    margin-top: 12px;
    border-radius: 5px;
    position: relative;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 63.54%, #000000 100%);
    margin-right: 15px;
}

.degrade{
    position: absolute;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 63.54%, #000000 100%)
}
.titulo-quizz{
    width: 301px;
    height: 54px;
    position: absolute;
    bottom: 7px;
    margin-left: 18px;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    word-break: break-word;
}

img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

/* Criação - Informações básicas */

.conteudo-info-basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.conteudo-info-basicas > span{
    font-size: 24px;
    font-weight: bold;
}

.info-basicas{
    margin-top: 27px;
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


::placeholder{
    font-style: italic;
    font-size: 19px;
    color: #BABABA;
    
}

.criar{
    margin-top: 85px;
    width: 368px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: transparent;
    color: #FFF5F4;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

/* Criação - Perguntas Quizz */

.conteudo-perguntas-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.conteudo-perguntas-quizz > span{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.perguntas{
    margin-top: 27px;
    width: 600px;
    height: 74px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    box-sizing: border-box;
}

.perguntas >span{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    align-items: center;
}


input{
    width: 564px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 24px;
}

.perguntas >span:nth-of-type(2){
    display: none;
}

.perguntas.mostrar >span:nth-of-type(1){
    display: none;
}

.perguntas.mostrar >span:nth-of-type(2){
    display: initial;
}

.perguntas :nth-child(n + 3) {
    display: none;
}

.mostrar :nth-child(n+3){
    display: initial;
}

.perguntas.mostrar{
    margin-top: 27px;
    width: 600px;
    height: 825px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
    box-sizing: border-box;
}


.conteudo-perguntas{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: space-around;

}

/* Criação - Níveis Quizz */

.conteudo-niveis-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.conteudo-niveis-quizz > span{
    font-size: 24px;
    font-weight: bold;
}

.niveis{
    margin-top: 27px;
    width: 600px;
    height: 74px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.niveis >span{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    align-items: center;
}


.niveis.mostrar{
    margin-top: 27px;
    width: 600px;
    height: 316px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.niveis >span:nth-of-type(2){
    display: none;
}

.niveis.mostrar >span:nth-of-type(1){
    display: none;
}

.niveis.mostrar >span:nth-of-type(2){
    display: initial;
}

.niveis :nth-child(n + 3) {
    display: none;
}

.niveis.mostrar :nth-child(n+3){
    display: initial;
}

/* Criação - Quizz criado */

.quizz-criado{
    width: 500px;
    height: 266px;
    position: relative;
    margin-top: 46px;
}

.quizz-criado > img{
    width: 500px;
    height: 266px;
}

.degrade-criado{
    position: absolute;
    width: 500px;
    height: 266px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 63.54%, #000000 100%)
}

.quizz-criado > strong {
    font-weight: bold;
}

.conteudo-quizz-criado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.conteudo-quizz-criado > span{
    font-size: 24px;
    font-weight: bold;
}
p{
    color:red;
    font-weight: lighter;
}

.erro{
    background-color: #FFE9E9;
}

.criar-acessar-quizz {
    margin-top: 24px;
    width: 368px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    border: transparent;
    color: #FFF5F4;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

@media(max-width: 768px) {
    .topo-quiz {
        width: 100%;
    }
    .conteudo-quiz {
        width: 376px;
        height: 100%;
    }
    .quiz-imagens, .titulo-quiz-secundario {
        width: 340px;
        height: 100%;
        align-items: center;
        
    }
    .titulo-quiz-topo {
        height: 142px;

    }
    .titulo-quiz-secundario > p, .titulo-quiz-unico {
        font-size: 19px;
        line-height: 22px;
    }
    .titulo-quiz-secundario > p {
        padding: 16px;
    } 
    .quiz-imagens > button {
        width: 164px;
        height: 148px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .quiz-imagens > button > img {
        width: 164px;
        height: 114px;
    }
    .quiz-imagens > button > p {
        width: 164px;
        height: 100%;
        font-size: 12px;
        line-height: 15px;
        word-break: break-all;
    }
    .parte-final {
        display: flex;
        flex-direction: column;
    }
    .parte-final > div > img {
        width: 340px;
        height: 255px;
    }
    .parte-final > p {
        font-size: 17px;
        line-height: 20px;
    }
    .conteudo-final {
        height: 100%;
    }
    .container-seus-quizzes-nenhum, .container-seus-quizzes, .container-todos-quizzes {
        width: 100%;
        align-items: center;
    }
    .container-todos-quizzes >span{
        padding-left: 14px;
    
    }
    .quizz{
        margin-right: 0px;
    }
    .seus-quizzes > .quizz{
        margin-right: 0px;
    }
    .seus-quizzes{
        justify-content: center;
    }
    .cabecalho{
        width: 100%;
        padding-left: 14px;
        padding-right: 14px;
        box-sizing: border-box;
    } 
    .lista-quizzes{
        justify-content: center;
    }
    .info-basicas, .conteudo-info-basicas, 
    .conteudo-perguntas-quizz, .perguntas, 
    .perguntas.mostrar, .conteudo-niveis-quizz, .niveis, .niveis.mostrar,
    .conteudo-quizz-criado{
        width: 100%;
    }
    .criar{
        width: 324px;
    }
    .quizz-criado{
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
    }
    
    .quizz-criado > img, .degrade-criado{
        width: 340px;
        height: 180px;
    }
    
    .degrade-criado{
        margin-left:18px;
    }
    input{
        width: 341px;
    }
}
